{
  "extends": [
    "stylelint-config-standard-scss"
  ],
  "rules": {
    "indentation": 2,
    "no-invalid-position-at-import-rule": null
  },
  "overrides": [
    {
      "files": ["*.scss", "**/*.scss"],
      "customSyntax": "postcss-scss"
    }
  ]
}