@use "sass:map";

@function negativify-map($map) {
  $result: ();

  @each $key, $value in $map {
    @if $key != 0 {
      $result: map.merge($result, ("n" + $key: (-$value)));
    }
  }

  @return $result;
}

@function map-get-multiple($map, $values) {
  $result: ();

  @each $key, $value in $map {
    @if not index($values, $key) {
      $result: map.merge($result, ($key: $value));
    }
  }

  @return $result;
}
