$color-map: (
  site-primary-color: #2a2a72,
  site-secondary-color: #009ffd,
  site-tertiary-color: #ffa400,
  site-quaternary-color: #232528,
  site-quinary-color: #eaf6ff,
  site-info-color: #009ffd,
  site-alert-color: #ad343e,
  site-success-color: #5cb85c,
  site-warning-color: #ffa400,
  site-base-white-color: #fcfdff
);
