$color-map: (
  site-primary-color: #226f54,
  site-secondary-color: #87c38f,
  site-tertiary-color: #f4f0bb,
  site-quaternary-color: #43291f,
  site-quinary-color: #f4f0bb,
  site-alert-color: #da2c38,
  site-base-white-color: #fcfdff
);
