button,
input[type="submit"],
input[type="button"],
[role="button"] {
  --#{$prefix}btn-padding-x: 0.375rem;
  --#{$prefix}btn-padding-y: 0.45rem;
  --#{$prefix}btn-border-width: 1px;
  --#{$prefix}btn-border-color: #{$primary};
  --#{$prefix}background-color: #{$primary};
  --#{$prefix}btn-color: var(--#{$prefix}primary-color);
  --#{$prefix}btn-border-radius: 4px;
  --#{$prefix}btn-box-shadow: 1px 2px 3px  #{rgba($primary, 0.25)};
  --#{$prefix}btn-disabled-opacity: 0.65;
  --#{$prefix}btn-focus-box-shadow: 0 0 0 0.25rem rgb(var(--#{$prefix}btn-focus-shadow-rgb) 0.5);

  display: inline-block;
  padding: var(--#{$prefix}btn-padding-y) var(--#{$prefix}btn-padding-x);
  border: var(--#{$prefix}btn-border-width) solid var(--#{$prefix}btn-border-color);
  border-radius: var(--#{$prefix}btn-border-radius);
  background-color: var(--#{$prefix}background-color);
  box-shadow: var(--#{$prefix}btn-box-shadow);
  color: var(--#{$prefix}btn-color);

  &:is([aria-current], :hover, :active, :focus) {
    --#{$prefix}background-color: #{rgba($primary, 0.85)};
    --#{$prefix}btn-border-color: #{rgba($primary, 0.85)};
    --#{$prefix}btn-box-shadow: 1px 2px 3px  #{rgba($primary, 0.95)};
  }
}
