a,
[role="link"] {
  outline: none;
  background-color: var(--background-color); // 1
  color: var(--color);
  text-decoration: var(--text-decoration);

  &:is([aria-current], :hover, :active, :focus) {
    --color: var(--primary-hover);
  }

  &:focus {
    --background-color: var(--primary-focus);
  }
}

b,
strong {
  font-weight: bolder;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

// Small
small {
  --font-size: 0.875em;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  --font-weight: 700;

  margin-bottom: var(--typography-spacing-vertical);
  color: var(--text-color);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  font-family: var(--font-family);
}

h1 {
  --font-size: 2rem;
  --text-color: var(--h1-color);
}

h2 {
  --font-size: 1.75rem;
  --text-color: var(--h2-color);
}

h3 {
  --font-size: 1.5rem;
  --text-color: var(--h3-color);
}

h4 {
  --font-size: 1.25rem;
  --text-color: var(--h4-color);
}

h5 {
  --font-size: 1.125rem;
  --text-color: var(--h5-color);
}

h6 {
  --text-color: var(--h6-color);
}

// Paragraphs
p {
  margin-bottom: var(--typography-spacing-vertical);
}
