:where(:root) {
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  font-weight: var(--#{$prefix}font-weight);
  font-size: var(--#{$prefix}font-size);
  line-height: var(--#{$prefix}line-height);
  font-family: var(--#{$prefix}font-family);
  overflow-wrap: break-word;
  cursor: default;
  tab-size: 4;
}

a,
[role="link"] {
  outline: none;
  color: var(--#{$prefix}primary);
  text-decoration: var(--#{$prefix}text-decoration);

  &:is([aria-current], :hover, :active, :focus) {
    --#{$prefix}primary: var(--#{$prefix}primary-hover);
  }

  &:focus {
    --#{$prefix}primary: var(--#{$prefix}primary-focus);
  }
}

b,
strong {
  font-weight: bolder;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

// Small
small {
  --#{$prefix}font-size: 0.875em;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  --#{$prefix}font-weight: 700;

  margin-bottom: var(--#{$prefix}typography-spacing-vertical);
  color: var(--#{$prefix}text-color);
  font-weight: var(--#{$prefix}font-weight);
  font-size: var(--#{$prefix}font-size);
  line-height: var(--#{$prefix}line-height);
  font-family: var(--#{$prefix}font-family);
}

h1 {
  --#{$prefix}font-size: 2rem;
  --#{$prefix}text-color: var(--#{$prefix}-heading-color);
}

h2 {
  --#{$prefix}font-size: 1.75rem;
  --#{$prefix}text-color: var(--#{$prefix}-heading-color);
}

h3 {
  --#{$prefix}font-size: 1.5rem;
  --#{$prefix}text-color: var(--#{$prefix}-heading-color);
}

h4 {
  --#{$prefix}font-size: 1.25rem;
  --#{$prefix}text-color: var(--#{$prefix}-heading-color);
}

h5 {
  --#{$prefix}font-size: 1.125rem;
  --#{$prefix}text-color: var(--#{$prefix}-heading-color);
}

h6 {
  --#{$prefix}text-color: var(--#{$prefix}-heading-color);
}

// Paragraphs
p {
  margin-bottom: var(--#{$prefix}typography-spacing-vertical);
}
