/****************************   */
.card {
  --#{$prefix}card-background-color: #{$primary};
  --#{$prefix}card-box-shadow: 0 10px 30px -15px  #{rgba($primary, 0.75)};
  --#{$prefix}card-border-radius: 4px;
  --#{$prefix}card-padding-vertical: 1rem;
  --#{$prefix}card-padding-horizontal: 0.5rem;
  --#{$prefix}card-color: var(--#{$prefix}primary-color);

  padding: var(--#{$prefix}card-padding-vertical) var(--#{$prefix}card-padding-horizontal);
  border-radius: var(--#{$prefix}card-border-radius);
  background-color: var(--#{$prefix}card-background-color);
  box-shadow: var(--#{$prefix}card-box-shadow);
  color: var(--#{$prefix}card-color);

  .card-title {
    --#{$prefix}card-title-color: var(--#{$prefix}card-color);

    color: var(--#{$prefix}card-title-color);
  }

  .card-content {
    --#{$prefix}card-content-color: var(--#{$prefix}card-color);

    color: var(--#{$prefix}card-content-color);
  }

  &:is([aria-current], :hover, :active, :focus) {
    --#{$prefix}card-box-shadow: 0 10px 30px -5px  #{rgba($primary, 0.85)};
  }
}
